@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: #FAFAFA;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
